<div class="container">
  <h1 style="text-align: center;">Charte D’engagement Parti de la Diversité Républicaine de Guinée</h1>
  <p>
    La présente charte a vocation à confirmer et à promouvoir l’exercice d’une démocratie participative en Guinée. La
    démocratie participative constitue une composante indispensable d’une politique de développement durable et
    solidaire, et le fondement même d’une mise en œuvre des valeurs de la république, des droits de l’homme et du
    citoyen.
  </p>

  <p>
    S’engager dans ce mouvement politique, c’est rassembler et impliquer tous les citoyens pour transformer radicalement
    notre modèle politique, économique et social, en plaçant l’humain au cœur des décisions dans une société libre et
    responsable.
  </p>

  <p>
    Cette Charte exprime la volonté des membres du bureau exécutif à garantir un espace de parole et de débat de sorte
    que :
  </p>

  <ul>
    <li>
      Les citoyens puissent exprimer leurs préoccupations et les actions à mettre en place pour les projets de quartier
      tout en collaborant avec les autorités locales
    </li>

    <li>
      Des propositions collectives puissent être élaborées
    </li>

    <li>
      Qu’un lien directe avec la communauté soit établi
    </li>
  </ul>

  <p>
    Cette charte politique repose notamment sur les principes de la transparence de l’action publique, d’ouverture et de
    tolérance, et sur un souci partagé de représentation de la population dans toute sa diversité. Plus précisément, la
    présente charte engage les signataires :
  </p>

  <ul>
    <li>
      A refuser le déni, la facilité, et la résignation et ils doivent être convaincu que la Guinée regorge du potentiel
      et faire en sorte que chacun puisse jouer un rôle dans l’édification de la nation.
    </li>

    <li>
      Qu’il est possible d’en finir avec le chômage de masse et agir pour réformer en profondeur la Guinée tout en
      s’appuyant sur notre culture, nos compétences et nos expériences.
    </li>

    <li>
      D’être garant et responsable dans la lutte contre la fraude, la corruption et le trafic d’influence conséquence de
      notre perte de souveraineté, du chômage de masse, de l’appauvrissement et du désespoir.
    </li>

    <li>
      A exiger sans plus attendre la rupture avec les fléaux qui gangrènent notre société et cultiver l’excellence dans
      le travail : l’homme qu’il faut à la place qu’il faut
    </li>
    <li>
      A agir pour le bien commun et proposer un modèle de société durable qui réconcilie l’économie, le social et
      l’écologie tout en étant soucieux des générations futures.
    </li>
    <li>
      A s’engager à respecter scrupuleusement les décisions prises, à répondre aux exigences soumises par le parti et à
      s’impliquer rigoureusement à l’application des valeurs et principes démocratiques
    </li>
    <li>
      Être des modèles en soi pour la communauté
    </li>
  </ul>
  <p>
    En cas de violation de la présente charte, des sanctions et mesures seront prises conformément au règlement
    intérieur du parti
  </p>
</div>
