<div class="container">
  <h1 style="text-align: center;">Consultez nos différents projets</h1>

  <p>
    Notre mouvement politique, <strong> Diversité Républicaine de Guinée (DRG) </strong>s’articule autour d’un éventail
    de projets de société concernant les secteurs clés d’émergence d’une Nation. Ces secteurs clés sont :
  </p>

  <div class="row">
    <div class="column" *ngFor="let item of team">
      <mat-card class="profile-card" appElevation>
        <mat-card-content>
          <fa-icon [icon]="item.icon" class="fa-3x"></fa-icon>
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button style="width: 100%;" (click)="openDialog()" mat-button>Consulter</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
