<div class="container">
  <h1 style="text-align: center;">Présentation de Souleymane Condé</h1>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Présentation</ng-template>
      <p>
        Confronté à la roche, le ruisseau l’emporte toujours, non par la force, mais par la persévérance », disait
        Confucius. C’est tout le résumé de Souleymane Condé, ce guinéen de naissance et de cœur qui arrive enfin sur la
        scène politique nationale. On l’y attendait depuis tout ce temps où il disait non à la gestion calamiteuse du
        pouvoir à Conakry, depuis qu’il vit dans la douleur les clameurs d’un peuple que les régimes successifs se sont
        démenés à abrutir, à abêtir. Souleymane Condé a été, en effet, l’un des premiers à signaler les dérives
        cataclysmiques du clan qui tient les brides de la Guinée. Sa persévérance dans la dénonciation des pratiques
        autocratiques des régimes de Conakry a poussé un groupe de jeunes intellectuels à le porter à la tête d’un
        mouvement politique, confiant en à la force de son verbe, en la fermeté de ses convictions, en la largesse de sa
        vision et en la puissance des arguments qu’il affiche pour répondre aux espérances des guinéens.
      </p>

      <p>
        Né le 17 février 1980 à Guéckédou, ville du sud de la Guinée, Souleymane Condé est marié et père de 2 garçons.
        Il incarne les valeurs d’intégrité, de justice, de travail et de patriotisme. Fils de Dr. Bill Fadoua Conde
        professeur de (statistique et économie) à la retraite et de Madame Mariame Cherif (ménagère). Il est le
        troisième enfant d’une famille de 5 enfants. Il sera dit et écrit qu’il a été le premier de sa famille à se
        lancer en politique. Souleymane Conde possède plus de 10 ans d’expériences professionnelles acquises en Guinée
        et aux États-Unis d’Amérique.
      </p>

      <p>
        Souleymane Conde est le fondateur et Président du parti de la Diversité Républicaine de Guinée (DRG). Le parti
        DRG, est né suite au constat douloureux de la déliquescence de l’Etat, à la révolte face à la déception et à la
        désillusion de l’écrasante majorité de la population Guinéenne due à la gestion désastreuse de son pays, la
        République de Guinée par les régimes successifs. La mission de la DRG est la refondation de l’État ; La vision
        est de contribuer à la consolidation de la démocratie par le strict respect des règles et principes de bonne
        gouvernance et de l’État de droit. La restauration du tissu social, la mise en place d’un programme de
        justice-vérité et réconciliation afin de favoriser la réconciliation nationale et de l’asseoir sur des bases
        solides, sans quoi tout développement est impossible.
      </p>

      <p>
        Très tôt, les qualités de leader de Souleymane Condé se sont exprimées. Déjà en 2005, Souleymane Conde est
        lauréat de chaque cycle d’étude, il obtint avec brio un diplôme de BTS-Comptabilité et Gestion. Il est ainsi
        recruté à la fonction publique qui gratifiait les 2, 1er de différents examens.
      </p>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>De Août 2007 à septembre 2008</ng-template>
      <p>
        De Août 2007 à septembre 2008, À 5 mois de la fin de son cycle universitaire à l’université de Sonfonia, le
        jeune Souleymane est recruté comme assistant en contrôle interne par un cabinet de conseil (Synergie Diama) en
        partenariat avec l’ONG PSI-Guinée, et il avait comme tâches :
      </p>

      <ul>
        <li>
          Contrôler et vérifier la mise en œuvre des procédures administratives et financières de l’ONG,
        </li>

        <li>
          Assurer le respect des procédures de passation des marchés,
        </li>

        <li>
          Élaborer des Rapports mensuels des contrôles de procédures et faire des recommandations,
        </li>

        <li>
          Participer à l’élaboration de l’offre d’appel à candidature jusqu’à la finalisation du processus de
          recrutement du personnel cadre
        </li>
      </ul>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>De Novembre 2008 à Mai 2010</ng-template>
      <p>
        De Novembre 2008 à Mai 2010, il est responsable des Ressources Humaines dans le cabinet de conseil (Vision
        consulting international « VCI »). Il aura alors pour Tâches :
      </p>

      <ul>
        <li>Le recrutement des cadres de l’agence de Fond National pour l’insertion des jeunes (FONIJ) : 7 cadres,</li>
        <li>Le traitement de la grille salariale pour la United Bank of Africa « UBA »,</li>
        <li>
          Le recrutement des agents de caisses et de tries pour International commercial Bank (IC Bank) 10 employés,
        </li>
        <li>Le recrutement d’employés cadres pour ETI SA-Computer Company : 3 employés,</li>
        <li>
          La gestion des paies, suivi et management des employés de la Compagnie des Bauxite de Kindia (CBK) : 184
          employés,
        </li>
        <li>
          La gestion des paies, suivie et management des employés mise à disposition du call center NTM Guinée : 67
          employés,
        </li>
        <li>La gestion des paies, suivie et management des employés mise à disposition Orange Guinée : 16 employés.</li>
        <li>
          La Gestion des paies, suivie et management des employés mise à disposition Olam international : 4 employés.
        </li>
      </ul>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>De 2012 à Mars 2020</ng-template>
      <p>
        De 2012 à Mars 2020, Souleymane Conde est employé de la compagnie VPNE comme chargé de clientèle. Tâches
        accomplies :
      </p>

      <ul>
        <li>Accueil de la clientèle,</li>
        <li>Résolution des problèmes,</li>
        <li>Mise en place des procédures de gestion de la clientèle,</li>
        <li>Explication des services offerts par la compagnie aux clients,</li>
      </ul>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>De 2016 à 2017</ng-template>
      <p>
        De 2016 à 2017, il est encadreur de programme universitaire en partenariat avec l’ONG 3 point fondation dans les
        lycées (Martin Luther King School (MLK)), (Davis Leadership Academy (DLA)). Il enseigne aux adolescents les
        mécanismes de réduction de la violence dans les communautés, les mécanismes de rédaction littéraire, l’éthique,
        la morale et le respect des lois des USA,
      </p>

      <p>
        En 2007, Il est diplômé respectivement de l’Université de Sonfonia Conakry « Maîtrise en gestion » et en 2019,
        de l’Université Massachusetts Boston Bachelor degree en (Organization, Leadership&Change). C’est en 2009 que
        Souleymane Conde tâte le terrain politique. Il est responsable des relations publiques du bureau des jeunes du
        parti Front Uni pour la Démocratie et Développement « FUDEC » et conseiller personnel du président de ce parti.
        Il fait partie des survivants des massacres du 28 septembre 2009 au stade du même nom à Conakry où il
        manifestait contre le maintien du chef de la junte d’alors au pouvoir, le capitaine Moussa Dadis Camara.
      </p>

      <p>
        Le 16 mai 2016, Souleymane Conde a été le premier Guinéen à annoncer sur sa page Facebook, à ses 40.000
        followers et 4.52 YOUTUBE subscribers et au peuple de Guinée, dès le lendemain de la réélection du président
        Alpha que celui-ci était entrain de planifier son maintien au pouvoir au-delà de la fin de son second et dernier
        Mandat constitutionnelle en 2020.
      </p>

      <p>
        En Septembre 2017, Souleymane Conde est élu coordinateur du mouvement social ‘’Au Nom du Peuple’’ pour s’opposer
        à un 3ème mandat du président Alpha Condé en Guinée, participer à l’éveil de consciences du peuple de Guinée et
        de sa jeunesse en particulier, combattre l’ethnocentrisme et la mauvaise gouvernance.
      </p>

      <p>En 2018, il est élu par Kobele évents à Bruxelles comme étant l’homme Guinéen de l’année sur Facebook.</p>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>En juin 2019</ng-template>
      <p>
        En juin 2019, Souleymane Conde est nommé coordinateur du mouvement social le Front National pour la Défense de
        la Constitution aux État Unis D’Amérique (FNDC/USA). On ne peut donc être surpris de voir cet homme bénéficier
        de la confiance d’un important groupe d’intellectuels qui le porte à la tête de ce nouveau parti, ‘’La Diversité
        Républicaine de Guinée’’, qui s’emploie à rassembler les guinéens, à ne distinguer les guinéens que sur les
        seules bases de compétence et d’intégrité. Souleymane Condé a de grandes ambitions pour la Guinée. Il est
        convaincu de la qualité de la ressource humaine guinéenne, de l’âpre volonté du guinéen à se mettre au travail
        et à se créer le bien-être. La DRG, avec à sa tête Souleymane Condé, a eu le temps de comprendre les attentes du
        guinéen. Souleymane Condé est un homme de conviction, il s’est forgé les outils pour mettre le Guinéen en
        communion avec ses espérances. IL ressent dans son âme les cris de désespoir du grand peuple de Guinée. Avec
        humilité mais avec hardiesse, il propose au Guinéen un projet, un chantier : Construire dans le marbre les
        aspirations nationales. Il a la persévérance du ruisseau. Il n’y a point de roche qui lui résiste.
      </p>
    </mat-step>
  </mat-vertical-stepper>
</div>
