.container {
  padding-bottom: 30px;
}

.mat-icon {
  vertical-align: middle;
}

img {
  width: 40% !important;
  height: 10%;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  img {
    width: 90% !important;
  }
}
