<div class="container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales erat justo, sed finibus velit aliquet eu.
    Duis volutpat, leo vel rhoncus vestibulum, mauris neque gravida dolor, et commodo nisi tortor eget elit. Morbi
    ullamcorper blandit magna, non hendrerit odio lobortis a. Nam et mattis felis. Etiam quis euismod orci, iaculis
    pellentesque ante. Morbi id libero sed dolor commodo fermentum. Suspendisse vel convallis nisl, a tempus dolor.
    Nullam posuere consequat scelerisque. Curabitur consectetur ex et leo maximus, eget sagittis nibh pulvinar. Donec
    nunc mi, iaculis ornare cursus condimentum, dictum eget enim. Duis eget fermentum nisl. Praesent nec lacus auctor,
    iaculis velit sit amet, facilisis elit. Quisque pharetra nisl a dui egestas, nec commodo quam porta. Nulla vitae
    lorem quis arcu mollis viverra. Praesent gravida sagittis venenatis. Integer at risus viverra velit fermentum luctus
    sed in leo. Quisque non est placerat, ullamcorper tellus sed, rhoncus enim. Sed hendrerit justo turpis, et maximus
    ipsum aliquet vitae. Ut venenatis erat sollicitudin lacus facilisis malesuada. Etiam id erat dapibus, fermentum urna
    vel, efficitur nisi. Curabitur fringilla lacus velit, vitae auctor mauris malesuada et. Donec lacinia sagittis
    placerat. Proin vel dapibus tellus. Suspendisse sollicitudin, ipsum vitae congue viverra, mauris nibh tempus quam,
    sit amet tincidunt ex neque nec nunc.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales erat justo, sed finibus velit aliquet eu.
    Duis volutpat, leo vel rhoncus vestibulum, mauris neque gravida dolor, et commodo nisi tortor eget elit. Morbi
    ullamcorper blandit magna, non hendrerit odio lobortis a. Nam et mattis felis. Etiam quis euismod orci, iaculis
    pellentesque ante. Morbi id libero sed dolor commodo fermentum. Suspendisse vel convallis nisl, a tempus dolor.
    Nullam posuere consequat scelerisque. Curabitur consectetur ex et leo maximus, eget sagittis nibh pulvinar. Donec
    nunc mi, iaculis ornare cursus condimentum, dictum eget enim. Duis eget fermentum nisl. Praesent nec lacus auctor,
    iaculis velit sit amet, facilisis elit. Quisque pharetra nisl a dui egestas, nec commodo quam porta. Nulla vitae
    lorem quis arcu mollis viverra. Praesent gravida sagittis venenatis. Integer at risus viverra velit fermentum luctus
    sed in leo. Quisque non est placerat, ullamcorper tellus sed, rhoncus enim. Sed hendrerit justo turpis, et maximus
    ipsum aliquet vitae. Ut venenatis erat sollicitudin lacus facilisis malesuada. Etiam id erat dapibus, fermentum urna
    vel, efficitur nisi. Curabitur fringilla lacus velit, vitae auctor mauris malesuada et. Donec lacinia sagittis
    placerat. Proin vel dapibus tellus. Suspendisse sollicitudin, ipsum vitae congue viverra, mauris nibh tempus quam,
    sit amet tincidunt ex neque nec nunc.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales erat justo, sed finibus velit aliquet eu.
    Duis volutpat, leo vel rhoncus vestibulum, mauris neque gravida dolor, et commodo nisi tortor eget elit. Morbi
    ullamcorper blandit magna, non hendrerit odio lobortis a. Nam et mattis felis. Etiam quis euismod orci, iaculis
    pellentesque ante. Morbi id libero sed dolor commodo fermentum. Suspendisse vel convallis nisl, a tempus dolor.
    Nullam posuere consequat scelerisque. Curabitur consectetur ex et leo maximus, eget sagittis nibh pulvinar. Donec
    nunc mi, iaculis ornare cursus condimentum, dictum eget enim. Duis eget fermentum nisl. Praesent nec lacus auctor,
    iaculis velit sit amet, facilisis elit. Quisque pharetra nisl a dui egestas, nec commodo quam porta. Nulla vitae
    lorem quis arcu mollis viverra. Praesent gravida sagittis venenatis. Integer at risus viverra velit fermentum luctus
    sed in leo. Quisque non est placerat, ullamcorper tellus sed, rhoncus enim. Sed hendrerit justo turpis, et maximus
    ipsum aliquet vitae. Ut venenatis erat sollicitudin lacus facilisis malesuada. Etiam id erat dapibus, fermentum urna
    vel, efficitur nisi. Curabitur fringilla lacus velit, vitae auctor mauris malesuada et. Donec lacinia sagittis
    placerat. Proin vel dapibus tellus. Suspendisse sollicitudin, ipsum vitae congue viverra, mauris nibh tempus quam,
    sit amet tincidunt ex neque nec nunc.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales erat justo, sed finibus velit aliquet eu.
    Duis volutpat, leo vel rhoncus vestibulum, mauris neque gravida dolor, et commodo nisi tortor eget elit. Morbi
    ullamcorper blandit magna, non hendrerit odio lobortis a. Nam et mattis felis. Etiam quis euismod orci, iaculis
    pellentesque ante. Morbi id libero sed dolor commodo fermentum. Suspendisse vel convallis nisl, a tempus dolor.
    Nullam posuere consequat scelerisque. Curabitur consectetur ex et leo maximus, eget sagittis nibh pulvinar. Donec
    nunc mi, iaculis ornare cursus condimentum, dictum eget enim. Duis eget fermentum nisl. Praesent nec lacus auctor,
    iaculis velit sit amet, facilisis elit. Quisque pharetra nisl a dui egestas, nec commodo quam porta. Nulla vitae
    lorem quis arcu mollis viverra. Praesent gravida sagittis venenatis. Integer at risus viverra velit fermentum luctus
    sed in leo. Quisque non est placerat, ullamcorper tellus sed, rhoncus enim. Sed hendrerit justo turpis, et maximus
    ipsum aliquet vitae. Ut venenatis erat sollicitudin lacus facilisis malesuada. Etiam id erat dapibus, fermentum urna
    vel, efficitur nisi. Curabitur fringilla lacus velit, vitae auctor mauris malesuada et. Donec lacinia sagittis
    placerat. Proin vel dapibus tellus. Suspendisse sollicitudin, ipsum vitae congue viverra, mauris nibh tempus quam,
    sit amet tincidunt ex neque nec nunc.
  </p>
  <div style="text-align: center;">
    <mat-icon>code</mat-icon>
    <span translate>Version</span> {{ version }}
  </div>
</div>

<app-team></app-team>
