<div class="container">
  <h1 style="text-align: center;">Qui sommes nous ?</h1>
  <p>
    Le mouvement politique <strong> Diversité Républicaine de Guinée - DRG</strong>, est né à la suite de plusieurs
    constats douloureux dont entre autres:
  </p>

  <ul>
    <li>La déliquescence de l’Etat</li>
    <li>
      les incessantes révoltes face la désillusion de l’écrasante majorité de la population Guinéenne due à la gestion
      désastreuse de notre pays, la République de Guinée, par les régimes successifs
    </li>
    <li>La mal gouvernance, pour ne pas dire une gouvernance inexistante du pays depuis plusieurs décennies</li>
    <li>Le désamour de la patrie</li>
    <li>Le manque de conviction des intellectuels du pays guidés par la cupidité et l’intérêt personnel</li>
    <li>Un paysage politique fortement marqué par la corruption et l’absence totale de conviction politique</li>
  </ul>

  <p>
    Nous sommes une nouvelle génération d’Hommes politiques décidés à prendre l’avenir de leur pays en main. Nous
    promettons d’êtres ces hommes et femmes politiques qui apaiseront les tensions sociales et réconcilieront les
    Guinéens. Il s’agit de faire en sorte que le vivre ensemble entre Guinéens soit désormais une réalité au détriment
    des slogans creux. Avec le concours de toutes les Guinéennes et de tous les Guinéens, sans exception, nous ferons en
    sorte que notre pays renoue avec ses valeurs fondatrices basées sur l’entente, le travail, la cohésion sociale, la
    solidarité, et l'entraide mutuelle.
  </p>
</div>

<app-team></app-team>
