<div class="container">
  <div *ngFor="let iteam of team">
    <mat-card class="profile-card">
      <img mat-card-image src="assets/images/abdou.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <h1>Souleymane Condé</h1>
        <p class="title">Président de DRG</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis urna at placerat dictum. Fusce quis
          pharetra quam, ut rhoncus libero. Sed non ullamcorper lectus
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Contacter</button>
        <i class="fa fa-money fa-5x"></i>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
