.container {
  padding-top: 1%;
  margin: auto 10%;
}

.profile-card {
  max-width: 300px;
  text-align: center;
  min-width: 250px;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
