<mat-toolbar class="mat-elevation-z6 navbar">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-icon-color">menu</mat-icon>
    </button>
  </div>

  <div fxHide.lt-md>
    <button mat-button routerLink="/" routerLinkActive="active">
      <img src="assets/images/logo.jpeg" alt="DRG" class="logo mat-focus-indicator mat-button mat-button-base" /><span
        ><strong>DRG</strong></span
      >
    </button>

    <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="active">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span translate>Our movement</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/who-we-are" translate><fa-icon [icon]="faInfoCircle"></fa-icon> About</button>
      <button mat-menu-item routerLink="/president" translate><fa-icon [icon]="faUser"></fa-icon> Our president</button>
      <button mat-menu-item routerLink="/chart" translate><fa-icon [icon]="faChartPie"></fa-icon> Our charter</button>
      <button mat-menu-item routerLink="/projects" translate>
        <fa-icon [icon]="faProjectDiagram"></fa-icon> Our projects
      </button>
    </mat-menu>

    <button mat-button routerLink="/" routerLinkActive="active">
      <fa-icon [icon]="faNewspaper"></fa-icon>
      <span translate>News</span>
    </button>

    <button *ngIf="!token" mat-button routerLink="/register" routerLinkActive="active">
      <fa-icon [icon]="faUserPlus"></fa-icon>
      <span translate>Register</span>
    </button>

    <button color="white" mat-button routerLink="/donate" routerLinkActive="active">
      <fa-icon [icon]="faDonate"></fa-icon>
      <span translate>Donate</span>
    </button>
  </div>

  <span fxFlex></span>

  <app-language-selector translate></app-language-selector>

  <div *ngIf="token; else logoutButon">
    <button mat-button (click)="logout()" routerLinkActive="active">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      <span translate>Logout</span>
    </button>
  </div>

  <ng-template #logoutButon>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <fa-icon [icon]="faSignInAlt"></fa-icon>
      <span translate>Login</span>
    </button>
  </ng-template>

  <!-- <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu> -->
</mat-toolbar>
