<mat-toolbar class="mat-elevation-z6 navbar">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-icon-color">menu</mat-icon>
    </button>
  </div>

  <div fxHide.lt-md>
    <span>
      <img
        routerLink="/home"
        routerLinkActive="active"
        src="assets/images/logo.jpeg"
        alt="angular"
        class="logo mat-focus-indicator mat-button mat-button-base"
      />DRG</span
    >

    <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="active">
      <mat-icon class="mat-icon-color">info</mat-icon>
      <span translate>Our movement</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/who-we-are" translate><mat-icon>thumb_up_alt</mat-icon> About</button>
      <button mat-menu-item routerLink="/president" translate><mat-icon>thumb_up_alt</mat-icon> Our president</button>
      <button mat-menu-item routerLink="/chart" translate><mat-icon>thumb_up_alt</mat-icon> Our chart</button>
      <button mat-menu-item routerLink="/projects" translate><mat-icon>thumb_up_alt</mat-icon> Our projects</button>
    </mat-menu>

    <button mat-button routerLink="/" routerLinkActive="active">
      <mat-icon class="mat-icon-color">thumb_up_alt</mat-icon>
      <span translate>News</span>
    </button>

    <button *ngIf="!token" mat-button routerLink="/register" routerLinkActive="active">
      <mat-icon class="mat-icon-color">person_add</mat-icon>
      <span translate>Register</span>
    </button>

    <button mat-button class="donate-button" routerLink="/donate" routerLinkActive="active">
      <mat-icon class="mat-icon-color">thumb_up_alt</mat-icon>
      <span translate>Donate</span>
    </button>
  </div>

  <span fxFlex></span>

  <app-language-selector translate></app-language-selector>

  <div *ngIf="token; else logoutButon">
    <button mat-button (click)="logout()" routerLinkActive="active">
      <mat-icon class="mat-icon-color">exit_to_app</mat-icon>
      <span translate>Logout</span>
    </button>
  </div>

  <ng-template #logoutButon>
    <button mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon class="mat-icon-color">lock</mat-icon>
      <span translate>Login</span>
    </button>
  </ng-template>

  <!-- <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu> -->
</mat-toolbar>
