@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #0000c8;
}

a,
.mat-icon-color,
span {
  color: white !important;
}

.menu-button {
  margin-right: 1rem;
}

.logo {
  height: 40px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.logo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.nav-bar-left {
  margin-left: 10%;
}

.nav-bar-right {
  margin-right: 10%;
}

.mat-menu-item {
  color: black;
}

.donate-button {
  color: red !important;
}
