.container {
  padding-top: 1%;
  margin: auto 10%;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

img {
  max-width: 100%;
  height: auto;
}

.slogan {
  font-size: 45px;
  text-align: center;
}

#videoWrapper {
  width: 100%;
}
