<div>
  <img src="assets/images/homePageImg.png" width="100%" />
</div>

<div class="container">
  <h1 class="slogan" translate>Slogan</h1>

  <div class="devise">
    <div class="drg-color">JUSTICE - INTEGRITE - PROGRES</div>
  </div>

  <div style="padding-bottom: 15px;">
    <strong>La Diversité Républicaine de Guinée - DRG </strong>entend apporter sa contribution à travers une vision et
    des valeurs républicaines, mais également à travers un leadership à toute épreuve, basé sur l’intégrité, la justice,
    l’amour du travail, le patriotisme et le sens élevé de la responsabilité.
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Notre mission">
      <div style="margin-top: 20px;">
        Elle sera axée prioritairement sur la refondation de L’État. La DRG aura pour mission de faire revenir les
        Guinéens à leurs racines traditionnelles qu’est l’humanisme. L’humanisme fait partie du socle de la création de
        la Guinée, et les pères de l’indépendance n’ont pas manqué de le traduire dans nos valeurs lors de notre
        accession à l’indépendance en 1958 ; Il s’agit des valeurs de Travail, de Justice et de Solidarité.
      </div>

      <div style="margin-top: 20px;">
        Nous croyons de manière radicale au progrès collectif et à l’émancipation de l’individu : La transformation de
        la société est une nécessité de justice autant que d’efficacité. C’est pourquoi nous pensons qu’il est urgent de
        transformer notre système éducatif, social, culturel et économique de manière profonde, innovante, concertée et
        transparente. Un système de gestion et d’administration publique totalement dépolitisé sera mis en place.
      </div>

      <div style="margin-top: 20px;">
        Notre parti, la Diversité Républicaine de Guinée (DRG) possède un seul projet de société subdivisé en 8 volets :
      </div>

      <ul style="font-weight: bold;">
        <li>L’éducation;</li>
        <li>La Santé et la protection sociale;</li>
        <li>L’agriculture-élevage - la pêche</li>
        <li>La Justice</li>
        <li>Les infrastructures, travaux publics et les transports</li>
        <li>L’économie et les nouvelles technologies (notamment dans le numérique)</li>
        <li>L’environnement, Eau-Énergie</li>
        <li>Les industries et les mines</li>
      </ul>
    </mat-tab>

    <mat-tab label="Notre vision">
      <div style="margin-top: 20px;">
        Est celle de contribuer à la consolidation de la démocratie par le strict respect des règles et principes de la
        bonne gouvernance et de l’État de droit. La réparation du tissu social, La mise en valeur de l’humanisme par la
        création et la mise place d’une commission justice-vérité et réconciliation sans laquelle l’avenir de la Guinée
        ne sera qu’une utopie.
      </div>

      <div style="margin-top: 20px;">
        La DRG transformera le pouvoir en un outil de solidarité et de concertation. Nous articulerons une vision claire
        de l’avenir de la Guinée que nous voulons bâtir ensemble et nous nous opposerons aux cynismes en appelant à
        l’audace et à l’espoir.
      </div>
    </mat-tab>

    <mat-tab label="Nos valeurs">
      <div style="margin-top: 20px;">
        Nous préférons l’innovation à tous les conservatismes. Nous refusons de penser qu’il n’y a de salut que dans un
        retour vers le passé et pensons au contraire que l’avenir de la Guinée nécessite de renouer avec l’idée de
        progrès. Nos valeurs sont celles de la rigueur, de la justice, du travail, de l’intégrité et du patriotisme. La
        DRG est fondée sur des valeurs dont l’action sera exclusivement au service du peuple de Guinée.
      </div>

      <div style="margin-top: 20px;">
        Nous croyons que les destins de la Guinée et de l’Afrique sont indissociables. Nous sommes attachés au projet
        d’une Guinée qui avance et sommes convaincus que l’ensemble des valeurs qui nous rassemblent (la liberté, la
        solidarité, l’ambition collective, l’innovation, l’égalité des chances, le respect à la dignité humaine) ne
        pourront réellement se déployer que dans un projet commun.
      </div>

      <div style="margin-top: 20px;">
        Conscients que la Guinée est la condition de notre souveraineté dans la mondialisation, nous œuvrerons à la
        refonder pour qu’elle soit plus efficace, unie et démocratique.
      </div>
    </mat-tab>
  </mat-tab-group>

  <h2 style="padding-bottom: 10px;">
    Suivez la compilation de certaines vidéos du Président Souleymane Condé. Le parcours d'un activiste
  </h2>
  <iframe
    style="margin-top: 30px;"
    id="videoWrapper"
    allowfullscreen
    type="text/html"
    width="100%"
    height="500"
    [src]="safeUrl"
    frameborder="0"
  ></iframe>

  <div style="padding-bottom: 15px; padding-top: 30px;">
    Fusce volutpat justo vitae urna semper augue consectetur, ut aliquam sem molestie. Vivamus tempor orci vitae
    convallis pulvinar. Lorem ipsum dolor sit amet, consectlum eu porta lacus, volutpat vulputate elit.
  </div>
</div>
